$def with(page)
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Bienvenido!</title> 
  </head>
  <body>
    <marquee  onmouseover="stop()" onmouseout="start()" scrollamount="10" scrolldelay="100"><img srcset="../static/images/logounid.jpg" height="150w" width="350w" alt="Logo oficial de la Universidad Interamericana para el Desarrollo" title="Logo Unid"/></marquee>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-togglepython app.pypr" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Bienvenido</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/insert">Insertar</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
    <div class="container-fluid">
        $:page
    </div> 
    <hr/>
    <hr/>
    <footer><h7> Universidad Interamericana para el Desarrollo</h7><br>
      <h7>Interfaces Graficas y Usabilidad</h7><br>
      <h7>Alumna: Yazmin Vite Hernandez</h7><br>
    <h7>Docente: Salvador Hernandez Mendoza</h7>
    </footer>    
  </body>
</html>